.backcolor{
    --background:#219b1c;
    color:white;
}
ion-buttons{
    position: fixed;
}
ion-title{
    text-align: center;
}
ion-title img{
    width: 50%;
}
ion-header button{
    width: 100%;
    height: 50%;
    background: #219b1c;
    color:white;
    font-size: 16px;
}
ion-slides{
    height: 100%;
    width: 100%;
}
ion-slide{
    display:block;
    text-align: center;
    height: 100%;
}
.cont{
    position: relative;
    height: 100%;
    background: black;
}
.titulo{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.titulo p{
    color: white;
    font-size: 60px;
    text-align: center;
}
.text{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 90%;
    border-radius: 10px;
}
.text p{
    color: gray;
    font-size: 16px;
    text-align: justify;
    margin: 5%;
}
div img{
    object-fit: cover;
    height: 100%;
    opacity: 0.6;
}