<ion-header>
  <ion-toolbar class="backcolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> <img src={{logo}}/> </ion-title>
    <ion-button fill="clear" color="light" expand="full" [routerLink]="['/conocenos',sembradio]">Conocenos</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let opcion of opciones" [routerLink]="['/producto',categoria,opcion.id]">
      {{opcion.nombre}}
    </ion-item>
  </ion-list>
</ion-content>
   