<ion-header>
  <ion-toolbar class="backcolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{producto.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="options" pager="true">
    <ion-slide *ngFor="let imagen of producto.carrusel">
      <img src={{imagen}} />
    </ion-slide>
  </ion-slides>
  <ion-button class="backcolor" expand="block" (click)="audioPlay()">
    <ion-icon *ngIf="b==1" name="pause-outline"></ion-icon>
    <ion-icon *ngIf="b==0" name="play-outline"></ion-icon>
  </ion-button>
  <p>{{producto.descripcion}}</p>
  <ion-list lines="none">
    <p>Nutrientes en 100 gramos: </p>
    <ion-item *ngFor="let nutriente of producto.nutrientes">{{nutriente}}</ion-item>
    <p>Vitaminas: </p>
    <ion-item *ngFor="let vitamina of producto.vitaminas">{{vitamina}}</ion-item>
    <p>Minerales: </p>
    <ion-item *ngFor="let mineral of producto.minerales">{{mineral}}</ion-item>
  </ion-list>
</ion-content>
