<ion-header>
  <ion-toolbar class="backcolor">
    <ion-title style="text-align: center;">
      <img src="../../assets/logo/logo.png" width="50%"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

    <ion-slides scrollbar="true">

      <ion-slide *ngFor="let image of images">
        <img src={{image.image}} />
      </ion-slide>

    </ion-slides>


    <ion-button expand="full" fill="clear" color="light" [routerLink]="['/select-product']">
      Productos
    </ion-button>

    <ion-button expand="full" fill="clear" color="light" [routerLink]="['/recuerdos']">
      Capturar experiencia
    </ion-button>


    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center;"> <img src="../../assets/icon/us.png" width="20%" /> </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Somos una empresa 100% mexicana y regiomontana dedicada a la produccion de frutas y vegetales de máxima calidad.
        A lo largo de los años, nuestra misión ha sido llevar a los consumidores un producto de confianza, cumpliendo
        con los más altos estandares en los procesos de producción para que, el consumidor final, tenga la saguridad de
        contar con un producto de calidad.
      </ion-card-content>
    </ion-card>


</ion-content>