<ion-header>
  <ion-toolbar class="backcolor">
    <ion-title style="text-align: center;">
      <img src="../../assets/logo/logo.png" width="50%"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

    <ion-slides scrollbar="true">

      <ion-slide *ngFor="let image of images">
        <img src={{image.image}} />
      </ion-slide>

    </ion-slides>


    <ion-button expand="full" fill="clear" color="light" [routerLink]="['/select-product']">
      Productos
    </ion-button>

    <ion-button expand="full" fill="clear" color="light" [routerLink]="['/recuerdos']">
      Capturar experiencia
    </ion-button>


    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center;"> <img src="../../assets/icon/us.png" width="20%" /> </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Soy un pequeño agricultor con muchos años de experiencia dedicado a brindar a mis clientes los productos de la mejor calidad en el mercado utilizando técnicas de cultivo avanzadas, tengo unas zonas de cultivo abiertas al público para que las puedan observar de primera mano  y comprobar su calidad.
      </ion-card-content>
    </ion-card>

    <ion-slides scrollbar="true">

      <ion-slide *ngFor="let descripcion of descripciones">
        <ion-card class="proceso">
          <ion-card-content>{{descripcion}}</ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

</ion-content>